/MaxAndMin.class
/Max2.class
/MaxAndMin2.class
/BubbleSort001.class
/BubbleSort002.class
/SelectionSort001.class
/SelectionSort002.class
/SelectionSort003.class
/SelectionBlind001.class
/SelectionBlind002.class
/BubbleSort003.class
/BubbleSort004.class
/SelectionBlind004.class
/MaxAndMin002.class
